/*Open Sans Font */
@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/opensans-bold-webfont.eot');
    src: url('../fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-bold-webfont.woff') format('woff'),
         url('../fonts/opensans-bold-webfont.ttf') format('truetype'),
         url('../fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensans-light-webfont.eot');
    src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/opensans-light-webfont.woff') format('woff'),
         url('../fonts/opensans-light-webfont.ttf') format('truetype'),
         url('../fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html {
	font-family: open_sansregular, sans-serif;
}

body {
	font-family: open_sansregular, sans-serif;
}

h1, h2, h3, h4 {
	font-family: open_sanslight, sans-serif;	
}

h5 {
	font-family: open_sansbold, sans-serif; 
}

.titulo-avisos {
	font-family: open_sanslight, sans-serif;
}

.titulo-inspecciones {
	background-image: url('../img/title_background.png');
	background-repeat: no-repeat;
	background-position: top left;
	border-bottom: 1px solid #838383;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

#titulo-index {
	font-family: open_sanslight, sans-serif;
}


/*Override de los estilos de la barra de menu */
.navbar-default {
  background-color: #34495e;
  border-color: #34495e;
  color: #FFFFFF;
  border-radius: 0;
}

.navbar-default .navbar-brand {
  color: #FFFFFF;
}

.navbar-default .navbar-nav>li>a {
	color: #FFFFFF;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
	color: #2c3e50;
	background-color: #f39c12;	
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
	color: #2c3e50;
	background-color: #e74c3c;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
		color: #e74c3c;

}

/*Override btn radius*/
.btn {
border-radius: 0;
}

.ok {
	margin-top: 10%;
}
.formulario{
	padding:4%;
	background-color: #DADFE1;
}

.motor{
	display: none;
}
.pieza{
	display: none;
}
.nombre{
	display: none;
}
.nameplate{
	display: none;
}
.error{
	
	color: #c0392b;
}
.cargando {
	background-color: #B5B5B5;
	position: absolute;
	width:50px;
	height: 50px;
	top:40%;
	left: 50%;
	margin-left: -25px;
	padding-top:9px;
	z-index: 2000;
	display: none;
	color: white;
	font-size: 130%;

}
.otrafecha {
	display: none;
}
.pendientes {
	padding: 2%;
	background-color: #F9F9F9;
	margin-bottom: 5%;
	font-family: open_sansregular, sans-serif;
}

.finalizadas {
	padding: 2%;
	background-color: #DADFE1;
	font-family: open_sansregular, sans-serif;	
}
.table {
	background-color: white;
}

.pendientes-montaje {
	position: absolute;
	display: none;
	width: 70%;
	right: -85%;
	top: 100px;
	background-color: #81CFE0;
	color: #22313F;
}

.pendientes-montaje thead {
	background-color: #C5EFF7;
	font-weight: bold;
	color: #4B77BE;
}

.background {
	display: none;
	background-image: url("../img/background.png");
	background-repeat: repeat;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	
}

.cerrar-lateral {
	position: absolute;
	left: -15px;
	top:5%;
	width: 30px;
	height: 30px;
	background-image: url("../img/cerrar.png");
	background-repeat: no-repeat;
	font-size: 180%;
	color: #E4F1FE;

}

#sininsp {
	background-color: #FEFFD6;
}

.deshacer {
	color: #D24D57;
}

#montaje-pendientes {
	font-size: 120%;
}

#inspector {
	font-weight: bold;
}

#btn-exportar {
	margin-left: 20px;
}

#icono-excel {
	color: #16a085;
}

#icono-pdf {
	color: #9D2933;
}

#labelfecha {
	font-size: 1em;
	padding: .5em .8em .5em;
	display: block;
	float: left;
	margin-left: 10px;
}

.infoversion {
	position: absolute;
	top:1%;
	right: 5%;
}

.infoversion a {
	color: #50B7C8;
}

.infoversion a:hover, .infoversion a:focus {
	text-decoration: none;
}

 #dialog_version {
 	font-size: 0.80em;
 }

#error-numero h4 {
	color: red;
	font-weight: bold;
}

/*PROGRAMACIÓN CSS*/

.encabezado {
	width: 100%;
	color: #ecf0f1;
	border-bottom: solid 1px #2C3E50;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	background: #36D7B7 url('../img/screen_background.png') no-repeat left top;
}

.encabezado-danger {
	width: 100%;
	color: #ecf0f1;
	border-bottom: solid 1px #2C3E50;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	background: #ff7272 url('../img/screen_background.png') no-repeat left top;
}

.encabezado li, .encabezado-danger li {
	color: black;
	padding: 0 10px;
}

ul.suministros-ip {
	min-width: 300px;
}

ul.suministros-lp {
	min-width: 300px;
}

.titulo {
    font-family: 'open_sanslight';

}

.espaciador {
	height: 75px;
}

@media(max-width: 527px){
	.espaciador {
		height: 100px;
	}
}

@media(max-width: 293px){
	.espaciador {
		height: 140px;
	}
}

.border-right-blue {
	border-left: 50px solid #3498db;
	border-bottom: 2px solid #3498db;
}

.border-right-red {
	border-left: 50px solid #e74c3c;
	border-bottom: 2px solid #e74c3c;	
}

.border-right-orange {
	border-left: 50px solid #e67e22;
	border-bottom: 2px solid #e67e22;	
}

#encabezadodiscos {
	color: #3498db;
}

#encabezadoalabes {
	color: #e74c3c;
}

#encabezadongvs {
	color: #e67e22;
}
.min-height-100{
	min-height: 100px;
}

/*clear los float de arriba de las opciones de radio buttons */
.titulos-programador {
	background-color: #F0C98B;
	color: #707070;	
}


.btn-addpart {
	background-color: #ffffff;
	color: #34495e;
	margin-top: 10px;
}

.home-programador {
	background-color: #19B5FE;
}

.error-etapa-vacia {
	color: #AA2F2F;
}

.error-tipo-vacio {
	color: #AA2F2F;
}

.color-error {
	color: #c0392b;
}

.radio-tipos {
	float: left;
	width: 50%;
	padding-left: 5%;
	padding-right: 5%;
}

.conmargen {
	margin-top: 5px;
}

.t700 .placa-tipo {
	display: inline-block;
	color: #515b66;
	padding-right: 5px;
	padding-left: 5px;
	margin-left: 5px;
	font-size: 0.7em;
}

.t900 .placa-tipo {
	display: inline-block;
	color: #515b66;
	padding-right: 5px;
	padding-left: 5px;
	margin-left: 5px;
	font-size: 0.7em;
}

.t1000 .placa-tipo {
	display: inline-block;
	color: #515b66;
	padding-right: 5px;
	padding-left: 5px;
	margin-left: 5px;
	font-size: 0.7em;
}

.txwb .placa-tipo {
	display: inline-block;
	color: #515b66;
	padding-right: 5px;
	padding-left: 5px;
	margin-left: 5px;
	font-size: 0.7em;
}

.t1000ten .placa-tipo {
	display: inline-block;
	color: #fff;
	padding-right: 5px;
	padding-left: 5px;
	margin-left: 5px;
	font-size: 0.7em;
}

.t7000 .placa-tipo {
	display: inline-block;
	color: #fff;
	padding-right: 5px;
	padding-left: 5px;
	margin-left: 5px;
	font-size: 0.7em;
}


.placa-tipo-noventa {
	display: inline-block;
	color: #fff;
	padding-right: 5px;
	padding-left: 5px;
	margin-left: 5px;
	font-size: 0.7em;
}

.alabe, .disco {
	cursor: pointer;
	margin: 0 5px;
}

.alabe {
	background: url('../img/alabes_bg.png') no-repeat left center;
}

.disco {
	background: url('../img/disco_bg.png') no-repeat left center;
}

.alabe>h5, .disco>h5, .noventa>h5  {
	display: inline-block;
	font-size: 1.1em;
	margin: 6px 0 6px 15px;
}

.alabe>h6, .disco>h6, .noventa>h6 {
	display: inline-block;
	font-size: 0.7em;
	margin: 0 5px;
}

.etapablades {
	font-size: 1.2em;
	color: #757D75;
	padding: 5%;	
	font-weight: bold;
	display: inline-block;
	background-color: #F2F1EF;
}
.etapadisc {
	font-size: 1.2em;
	padding: 5%;
	font-weight: bold;
	display: inline-block;
	background-color: #F2F1EF;	
}

.t700 {
	background-color: #ffe785;
	border-left: 20px solid #ffd900;
	border-color: #ffd900;
}

.t700 .etapablades, .t700 .etapadisc{
	font-size: 1.2em;
	color: #6d5c00;
	padding: 10%;	
	font-weight: bold;
	display: inline-block;
	background-color: #F4D03F;
}

.t900 {
	background-color: #78d7c4;
	border-left: 20px solid #1abc9c;
	border-color: #1abc9c;
}

.t900 .etapablades, .t900 .etapadisc {
	font-size: 1.2em;
	color: #03664f;
	padding: 10%;	
	font-weight: bold;
	display: inline-block;
	background-color: #2ABB9B;
}

.t1000 {
	background-color: #e86a5d;
	border-left: 20px solid #C0392B;	
	border-color: #C0392B;
}

.t1000 .etapablades, .t1000 .etapadisc {
	font-size: 1.2em;
	color: #5b1215;
	padding: 10%;	
	font-weight: bold;
	display: inline-block;
	background-color: #D24D57;
}

.txwb {
	background-color: #f4b277;
	border-left: 20px solid #e67e22;
	border-color: #e67e22;
}

.txwb97K {
	background-color: #f4b277;
	border-left: 20px solid #ffcfa5;
	border-color: #e67e22;
}


.txwb .etapablades, .txwb .etapadisc {
	font-size: 1.2em;
	color: #6b4026;
	padding: 10%;	
	font-weight: bold;
	display: inline-block;
	background-color: #ff975b;
}

.t1000ten {
	background-color: #b82a2a;
	border-left: 20px solid #a80606;
	border-color: #a80606;	
}

.t1000ten h5 {
	background-color: #ffffff;
	color: #000000;
	padding: 0 5px;
}

.t1000ten .etapablades, .t1000ten .etapadisc {
	font-size: 1.2em;
	color: #6d0000;
	padding: 10%;	
	font-weight: bold;
	display: inline-block;
	background-color: #bd4c40;
}

.otros {
	background-color: #8e44ad;
	color: #FFFFFF;
}

.noventa {
	/*para contrarrestar el padding de 15px a ambos lados del div col-xs-3*/
	background-color: #FFFFFF;
	padding: 0 10px;
}



.t7000 {
	background-color: #da85fd;
	border-left: 20px solid #8e44ad;
	border-color: #8e44ad;
}

.t7000 h5 {
	color: black;
	background-color: white;
	padding: 0 5px;
}

.t7000 .etapablades, .t7000 .etapadisc {
	font-size: 1.2em;
	color: #6b0098;
	padding: 10%;	
	font-weight: bold;
	display: inline-block;
	background-color: #ce5aff;
}

i.eliminar-programa {
	cursor: pointer;
	font-weight: lighter;
}

.flecha {
	color: #899EB0;
	display: inline-block;
}

.nostock {
	position: absolute;
	color: #34495E;
	top: 5%;
	right: 5%;
}

.suministrado {
	position: absolute;
	top: 50%;
	margin-top: -12px;
	right: 0;
	z-index: 10;
	cursor: pointer;
}

#yasuministrado {
	font-size: 0.9em;
}

.encabezado-suministrados {
background-color: #DADFE1;
border-top: 1px solid #505050;
margin-top: 20px;
}

.discos, .alabes, .ngvs {
	padding: 20px;
}

.borrar-placa {
	margin-top: 5px;
}

.etapaborrar {
	font-weight: bold;
}
.menu-almacen {
	padding: 20px;
}
.ayuda {
	color: #0f0f0f;
}



.nolink {
	text-decoration: none;
	color: #ffffff;
}

.nolink:hover, .nolink:focus {
	color: #e74c3c;
	text-decoration: none;
}

.nolink:visited {
	color: #ffffff;
}
.btn-almacen {
	color: #2c3e50;
	background-color: #FFFFFF;
	border-color: #000000;
	margin-right: 10px;
}

.btn-almacen-activo {
	color: #ffffff;
	background-color: #3498DB;
	border-color: #FFFFFF;
	margin-right: 10px;
}

#noopacity {
	opacity: 1;
}


.escariado-resultados {
	position: relative;	
	padding-top: 20px;
	padding-bottom: 20px;
	border: 1px solid #e74c3c;
	min-height: 250px;
}

.encabezado-escariado {
	background-color: #e74c3c;
	padding: 20px;
	color: #ffffff;
}

.caseip-resultados {
	position: relative;
	padding-top: 20px;
	padding-bottom: 20px;
	border: 1px solid #3498db;
	min-height: 250px;
}

.encabezado-caseip {
	background-color: #3498db;
	padding: 20px;
	color: #ffffff;
}

.support-resultados {
	position: relative;	
	padding-top: 20px;
	padding-bottom: 20px;
	border: 1px solid #03A678;
	min-height: 250px;
}

.encabezado-support {
	background-color: #03A678;
	padding: 20px;
	color: #ffffff;
}

.ngvlp1-resultados {
	position: relative;	
	padding-top: 20px;
	padding-bottom: 20px;
	border: 1px solid #8e44ad;
	min-height: 250px;
}

.encabezado-ngvlp1 {
	background-color: #8e44ad;
	padding: 20px;
	color: #ffffff;
}

.ngvip-resultados {
	position: relative;	
	padding-top: 20px;
	padding-bottom: 20px;
	border: 1px solid #e67e22;
	min-height: 250px;
}

.encabezado-ngvip {
	background-color: #e67e22;
	padding: 20px;
	color: #ffffff;
}

.alabeip-resultados {
	position: relative;	
	padding-top: 20px;
	padding-bottom: 20px;
	border: 1px solid #34495e;
	min-height: 250px;
}

.encabezado-alabeip {
	background-color: #34495e;
	padding: 20px;
	color: #ffffff;
}

.caseip-cajas, .ngvlp1-cajas, .ngvip-cajas, .support-cajas, .escariado-cajas, .alabeip-cajas {

	padding: 0 10px 10px 15px;
	position: absolute;
	bottom: 0;

}

.vaciar {
	margin-right: 15px;
}

.no-requerido {
	color: #16a085;
	font-weight: bold;
}

.si-requerido {
	color: #c0392b;
	font-weight: bold;
}

.contenedor-tablas {
	max-height: 300px;
	overflow: auto;
}

/*Index.html css*/

.rectindex {
	/*background-color:#005893;*/
	position: relative;
	padding-top: 40px;
	padding-bottom: 40px;
	color: #A1A2A4;
	font-family: open_sansregular, sans-serif;
	border: 1px solid #A1A2A4 ;
}

.one {
	position: absolute;
	top:0;
	left:0;
	display: none;
	background-image: url('../img/programador_background.png');
	width: 100%;
	height: 100%;
	z-index: -1;
}

.two {
	position: absolute;
	top:0;
	left:0;
	display: none;
	background-image: url('../img/almacen_background.png');
	width: 100%;
	height: 100%;
	z-index: -1;
}

.three {
	position: absolute;
	top:0;
	left:0;
	display: none;
	background-image: url('../img/inspecc_background.png');
	width: 100%;
	height: 100%;
	z-index: -1;
}

.four {
	position: absolute;
	top:0;
	left:0;
	display: none;
	background-image: url('../img/montaje_background.png');
	width: 100%;
	height: 100%;
	z-index: -1;
}

@media(min-width: 768px){
	.margen-40 {
		margin-top: 40px;
	}	
}

@media(max-width: 767px){
	.margen-40 {
		margin-top: 0;
	}	
}


.tituloindex {
	font-family: open_sanslight, sans-serif;
	padding-bottom: 20px;
	margin-bottom: 60px;
	border-bottom: 1px solid #424242;
	color: #424242;
	background-color: #ffffff;
	background-image: url('../img/title_background.png');
	background-repeat: no-repeat;

}

#indice {
	background-color: #ffffff;
}


.linkindex {
	text-decoration: none;
	color: #A1A2A4;
}

.linkindex:hover, .linkindex:focus {
	color: #A3DAE3;
	text-decoration: none;
}

.deshacer-discos {
	cursor: pointer;
}

.deshacer-alabes {
	cursor: pointer;
}

.grande {
	font-size: 120%;
	color: #c3c3c3;
}

#ad {
	position: absolute;
	top: 0;
	left: 20%;
	width: 50%;
	background-image: url('../img/fondo_ad.png');
	padding: 15px;
	color: #ffffff;
	font-weight: bold;
	display: none;
}
.alabes-curvico-vacio {
	color: #c0392b;
	font-weight: bold;
}

#cierre-ngv-form {
	color: #2e2e2e;
	margin-bottom: 10px;
}

.dropdown-cierres {
	color: #2e2e2e;
}
.badges-ngvs {
	padding: 10px;
}
.badges-ngvs>span {
	margin-right: 5px;
}

.badges-ngvs>span:last-child {
	margin-right: 0;
}

.suministrar-linea-ip {
	cursor: pointer;
	color: #2DAF95;
}

.suministrar-linea-lp {
	cursor: pointer;
	color: #2DAF95;
}


.btn-t700 {
	background-color: #f1c40f;
}

.btn-t7000 {
	background-color: #8657DB;
	color: white;
}

.btn-ten {
	background-color: #8a2d3c;
	color: white;
}

.btn-97k {
	background: url("../img/bg97k.png") repeat-x left top;
	color: black;
	border-color: #f0ad4e;
}

/*Barra lateral de navegación */

#sidebar-wrapper {
		z-index: 1000;
		position: fixed;
		left: 300px;
		width: 0;
		height: 100%;
		margin-left: -300px;
		background: #34495e url("../img/sidebar-background.png") no-repeat left top;

		border-right: 1px solid #0f0f0f;
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;
	padding: 15px;
}
#sidebar-wrapper-toggled {
	left:0;
}
#wrapper-toggled {
	padding-left: 0;
}
#sidebar-nav-toggled {
	display: none;
}
#wrapper {
	padding-left: 0;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#wrapper-contents {
	width: 100%;
}

.sidebar-nav {
	position: absolute;
	top: 20px;
	width: 270px;
	margin: 0;
	padding: 0;
	list-style: none;
}
.show-sidebar {
	position: fixed;
	top:20px;
	left:20px;

}

.dialog-programador {
	padding:10px;
	background-image: url("../img/background-form.png");

	margin-top:10px;
}

.subir-faltantes {
	padding:10px;
	background-image: url("../img/background-form.png");
	margin-top:10px;
}

@media screen and (min-width:768px) {
	#sidebar-wrapper {
		width: 300px;
	}
}
@media screen and (max-width: 767px) {
	#sidebar-wrapper {
		display: none;
	}
}
@media (min-width: 768px) {
	#wrapper {
		padding-left: 300px;
	}
}
.modal-header {
	background-color: #34495e;
	color: #fff;
}

.modal-header .close {
	color: #fff;
}

#files {
	background-color: #fff;
}
.buffercurvicos, .bufferalabescurvicos {
	min-height: 63px;
	border: 3px solid #E74C3C;
	padding: 0;
}

.buffercurvicos .btn, .bufferalabescurvicos .btn {
	border: none;
	width: 95%;
}

.buffercurvicos .etiqueta, .bufferalabescurvicos .etiqueta {
	font-size: 0.7em;
	color: #34495e;
}

.btn-curvicos {
	margin-right: 10px;
}



